/* styles.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 1;
}

.menu-toggle {
    cursor: pointer;
}

.burger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
}

/* Mobile Navigation Styles */
#mobile-nav {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mobile-nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

/* Mobile Navigation Styles */
@media (max-width: 768px) {
    #mobile-menu {
        display: block;
        cursor: pointer;
    }

    #mobile-nav {
        display: none; /* Hide the mobile nav by default */
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
    }

    #mobile-nav.active {
        display: block; /* Show the mobile nav when 'active' class is present */
    }

    .nav-links {
        display: flex; /* Display nav links as flex items */
        flex-direction: column; /* Stack them vertically */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }

    .nav-links li a {
        color: #333;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
    }

    /* Hide desktop navigation on mobile */
    .desktop-nav {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 15px;
    }
}

.menu-header {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
}

.menu-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.menu-header .highlight {
    color: #7AC143;
    font-weight: 700;
}

/* Category Buttons Styling */
.category-buttons-wrapper {
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.category-buttons {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.category-button {
    flex: 0 0 auto;
    padding: 10px 20px;
    margin: 8px;
    border: 1px solid #00b8b8;
    background-color: #fff;
    color: #00b8b8;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category-button.active,
.category-button:hover {
    background-color: #7AC143;
    color: #fff;
}

.menu-section {
    padding: 40px 0;
    background: #fff;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
    gap: 20px;
    padding: 20px;
}

/* Menu Items */
.menu-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.hidden {
    display: none !important;
}


.menu-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item-content {
    padding: 15px;
}

.menu-item-content h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #000000;
    text-transform: uppercase;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 600
    ;
}

.menu-item-content p {
    color: #777;
    margin: 10px 0;
    font-size: 0.9rem;
    font-family: ProximaNova-Regular, sans-serif;
}

.menu-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price {
    font-size: 1.2rem;
    color: #7AC143;
    font-weight: bold;
}

/* Popup Modal Styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.popup-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.popup-content h3 {
    font-size: 1.8rem;
    margin: 0;
    color: #333;
}

.popup-content p {
    margin-top: 10px;
    font-size: 1rem;
    color: #777;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #777;
    background: none;
    border: none;
    z-index: 300; /* Ensure it's above other elements */
    padding: 10px; /* Increase hit area */
}

.close-button:hover {
    color: #00b8b8;
}

/* Mobile View Fixed Navigation */
@media (max-width: 768px) {
    .category-buttons-wrapper.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: #f9f9f9;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Add padding to the main content to account for the fixed navbar */
    .menu-section {
        margin-top: 60px;
    }

}

.category-buttons-wrapper.fixed {
    position: fixed;
    top: 0;
    width: 1400px;
    z-index: 100;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .category-buttons-wrapper.fixed {
        width: auto; /* Use auto width for mobile devices */
        left: 0; /* Ensure it sticks to the left side of the screen */
        right: 0; /* Ensure it sticks to the right side of the screen */
        padding: 0 10px; /* Add some padding for better spacing */
    }
}


.category-arrows {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -40px;
}

.scroll-arrow {
    background: #fff;
    border: 1px solid #00b8b8;
    color: #00b8b8;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-arrow:hover {
    background-color: #00b8b8;
    color: #fff;
}

.scroll-arrow.hidden {
    display: none;
}

#menu-category-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #7AC143;
    margin-bottom: 20px;
    text-align: center; /* Centers the text horizontally */
    margin: 0 auto 20px auto; /* Centers the element and adds bottom margin */
    width: 100%; /* Ensures it takes the full width of its container */
    font-family: IndustryInc-Cutline, sans-serif; /* Custom font family */
}

@media (max-width: 768px) {
    #menu-category-title {
        font-size: 2.2rem; /* Reduce font size for better fit on mobile */
        font-weight: 700;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333; /* Adjust text color as needed */
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent background to make text readable */
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #333; /* Adjust text color as needed */
        background: rgba(255, 255, 255, 0.85); /* Semi-transparent background to make text readable */
        padding: 20px;
        border-radius: 10px;
        width: 300px;
    }
}

.banner-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}

.banner-content a.change-location {
    color: #000000; /* Adjust color to match your theme */
    text-decoration: none;
}

.banner-content .food-button,
.banner-content .drinks-button {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7AC143; /* Adjust color to match your theme */
    color: white;
    transition: background-color 0.3s;
}

.banner-content .drinks-button {
    background-color: #333; /* Adjust for a different button color if needed */
}

.banner-content .food-button:hover,
.banner-content .drinks-button:hover {
    background-color: #333; /* Darker shade on hover */
}

/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    bottom: 40px; /* Position from the bottom */
    right: 40px;  /* Position from the right */
    width: 50px;
    height: 50px;
    background-color: #7AC143; /* Button background color */
    color: #fff;
    border: none;
    border-radius: 50%; /* Makes the button round */
    cursor: pointer;
    font-size: 24px;
    z-index: 500; /* Ensure the button is above other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.back-to-top:hover {
    background-color: #333; /* Change color on hover */
}

.back-to-top.hidden {
    opacity: 0;
    visibility: hidden;
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

/* Adjustments for Mobile Devices */
@media (max-width: 768px) {
    .back-to-top {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .banner-image img {
        height: 500px; /* Adjust the height to maintain aspect ratio */
        width: 100%;
    }
}

.category-message {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 15px 0;
}

.category-message.hidden {
    display: none;
}

@media (max-width: 768px) {


    .logo img {
        max-height: 80px; /* Reduce logo size for better fit on mobile */
    }

    .menu-toggle {
        position: absolute;
        right: 10px;
        top: 35px;
        display: block;
    }
}
